div.wrapper {
  margin: 10px;
  width: 100%;
  height: 90vh;
  font-size: 14px;

  h1 {
    text-align: left;
    font-size: 20px;
  }

  div.left, div.right {
    width:  48%;
    height: 90%;
    margin: 0;
    padding: 0;
    overflow: auto;
  }
  div.left {
    float: left;
  }
  div.right {
    float: right;
  }

  div.buttons {
    text-align: right;
  }

  div.unAssignNewsList {
    div.eachNews {
      cursor: pointer;
      border: 1px dashed #DDDDDD;
      margin-top: 3px;

      div.title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow : ellipsis;
        font-weight: bold;
        font-size: 16px;
      }

      div.topic {
        white-space: nowrap;
        overflow: hidden;
        text-overflow : ellipsis;
        font-size: 12px;
      }
      div.data {
        display:none;

        span {
          display: inline-block;
          margin: 0 5px 0 0;
        }
      }
    }

    div.eachNews.selected {
      border: 1px solid #AAAAAA;

      div.data {
        display: block;
      }
    }
  }

  div.topicList {
    div.eachTopic {
      cursor: pointer;
      border: 1px dashed #DDDDDD;
      margin-top: 3px;

      div.name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow : ellipsis;
        font-weight: bold;
        font-size: 16px;
      }

      div.tags {
        white-space: nowrap;
        overflow: hidden;
        text-overflow : ellipsis;
      }

      a {
        display: inline-block;
        margin: 0 0 0 5px;
        float: right;
      }

      span.time {
        font-size: 12px;
      }
      span.time {
        float: right;
      }
    }

    div.eachTopic.selected {
      border: 1px solid #AAAAAA;
    }
  }
}