@import 'nib';

div.wrapper {
  margin: 20px auto 20px auto;
  width: 800px;
  height: 400px;
  overflow: auto;

  h1 {
    text-align: left;
    font-size: 20px;
  }

  div.left, div.right {
    width: 50%;
    margin: 0;
    padding: 0;
  }
  div.right {
    float: right;
  }

  div.unAssignNewsList {
    div.eachNews {
      padding: 1px;
      margin: 1px;
      border: none;
      cursor: pointer;
    }
    div.eachNews.selected {
      border: 1px black dashed;
    }
  }
}